<div class="container d-flex justify-content-center align-items-center">
    <div
      class="card d-flex justify-content-center align-items-center w-50 mt-5 shadow-lg p-2"
    >
      <!-- title and input field -->
      <div class="card shadow w-100">
        <div class="rounded bg-secondary p-2">
          <span class="title">Todo List</span>
          <span
            ><img
              width="20"
              height="18"
              src="../../../assets/icons8-edit-30.png"
              alt="edit"
          /></span>
        </div>
        <div class="input-group mb-1 p-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter the task"
            #value
          />
          <button class="btn btn-info btn-outline-dark" type="button">Add</button>
        </div>
      </div>
      <!-- display area -->
      <div class="mt-5 mb-5"></div>
    </div>
  </div>
  