<div
  class="container d-flex justify-content-center align-items-center flex-column"
>
  <div
    class="card d-flex justify-content-center align-items-center mt-5 w-100 shadow-lg p-2"
  >
    <!-- title and input field -->
    <div class="card shadow w-100">
      <div class="rounded bg-secondary p-2">
        <span class="title">Todo List</span>
        <span
          ><img
            width="20"
            height="18"
            src="../../../assets/icons8-edit-30.png"
            alt="edit"
        /></span>
      </div>
      <form [formGroup]="taskForm" class="input-group mb-1 p-3">
        <input
          formControlName="task"
          type="text"
          class="form-control"
          placeholder="Enter the task"
          name="task"
        />
        <button
          [disabled]="taskForm.invalid"
          class="btn btn-info btn-outline-dark"
          type="button"
          (click)="addTask(taskForm)"
        >
          {{ crudService.getEditMode ? "Update Task" : "Add Task" }}
        </button>
      </form>
    </div>
    <!-- display area -->
    <div class="mt-3 w-100">
      <div *ngFor="let item of crudService.getTasks(); index as i">
        <!-- main div to display content -->
        <div
          class="card shadow p-2 mb-2 d-flex flex-row justify-content-between align-items-center"
        >
          <!-- div of tasks -->
          <div class="ms-3 overflow-auto">
            <div class="">{{ item.task }}</div>
          </div>
          <!--div of button for edit and delete -->
          <div class="d-flex justify-content-center align-items-center">
            <!-- edit button -->
            <button
              (click)="crudService.editTask(i, taskForm)"
              class="edit btn border border-2 border-success d-flex justify-content-center align-items-center"
            >
              <img
                width="20"
                height="20"
                src="../../../assets/icons8-edit-64.png"
                alt="edit"
              />
            </button>
            <!-- delete button -->
            <button
              (click)="crudService.removeTask(i)"
              class="delete btn border border-2 border-danger d-flex justify-content-center align-items-center ms-3 me-2"
            >
              <img
                class=""
                width="20"
                height="20"
                src="../../../assets/icons8-delete-30.png"
                alt="delete"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- redirect button -->
  <button (click)="redirectPage()" class="btn btn-primary mt-5">
    View Task
  </button>
  <!-- end -->
</div>
