<div>
  <app-navbar></app-navbar>
  <app-welcometitle></app-welcometitle>
  <div class="container">
    <button
      type="button"
      class="btn btn-primary mb-3"
      (click)="navigateToUrl()"
    >
      Create New Task
    </button>
    <!-- checking accordion -->
    <div class="accordion" id="accordionExample">
      <div
        class="accordion-item mb-2"
        *ngFor="
          let item of globals.filteredData
            | paginate : { itemsPerPage: 8, currentPage: p };
          let i = index
        "
      >
        <h2
          class="accordion-header d-flex align-items-center justifiy-content-between"
          id="headingThree"
        >
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ item.title }}
          </button>
          <button class="btn-adjust btn btn-primary" (click)="opens()">
            <img
              src="https://img.icons8.com/external-becris-lineal-becris/24/ffffff/external-edit-mintab-for-ios-becris-lineal-becris.png"
            />
          </button>
          <button class="btn-adjust-delete btn btn-danger" (click)="opens()">
            <img
              src="https://img.icons8.com/material-rounded/24/ffffff/filled-trash.png"
            />
          </button>
        </h2>
        <div
          id="collapse{{ i }}"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="badge bg-success">
              Priority - {{ item?.priority["name"] }}
            </div>
            <figure>
              <blockquote class="blockquote">
                <p class="text-break">{{ item.content }}</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Created on
                <cite title="Source Title">
                  {{ item.updatedAt.slice(0, 10) }}</cite
                >
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <span>Total result(s) found : {{ globals?.taskArray?.length }}</span>
    <pagination-controls
      class="float-end"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
