<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-gradients mb-3">
  <div class="container">
    <a
      class="navbar-brand d-flex"
      [routerLink]="['/tasks']"
      routerLinkActive="router-link-active"
    >
      <img
        src="../../../assets/contract.png"
        alt=""
        width="30"
        height="30"
        class="me-1"
      />
      Task Tracker</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="m-auto">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="globals.searchText"
          (keyup)="globals.addNewItem(globals?.searchText)"
        />
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/tasks']" routerLinkActive="router-link-active" >My Tasks</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Profile Img"
              loading="lazy"
            />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="router-link-active" >My Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
