@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: aliceblue;
}

.bg-gradients {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(41, 172, 237, 1) 35%,
    rgba(83, 90, 222, 1) 100%
  );
  -webkit-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.55);
}

.btn-adjust {
  position: absolute;
  right: 9rem;
  z-index: 99;
}

.btn-adjust-delete {
  position: absolute;
  right: 5rem;
  z-index: 99;
}

.form-control:focus {
  box-shadow: none;
}
.btn:focus{
  box-shadow: non;
}

@media only screen and (max-width: 1024px) {
  .btn-adjust {
    right: 3.5rem;
  }
  .btn-adjust-delete {
    right: 7.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .btn-adjust {
    right: 3rem;
  }
  .btn-adjust-delete {
    right: 7rem;
  }
}

@media only screen and (max-width: 576px) {
  .btn-adjust {
    right: 1.5rem;
  }
  .btn-adjust-delete {
    right: 5rem;
  }
}

.accordion-item:not(:first-of-type) {
  border-top: outset !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.cursor-pointer{
  cursor: pointer;
}